<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net45" />
  <package id="EPPlus" version="5.2.0" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.5.0" targetFramework="net45" />
  <package id="ExcelDataReader.DataSet" version="3.5.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.113.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net45" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net45" />
  <package id="Telegram.Bot" version="15.7.1" targetFramework="net45" />
</packages>